{% extends 'base.html' %}

{% block head %}
<h1 style="background-color:#0C2340; color: white;text-align: center">UCC Queue</h1>
{% endblock %}

{% block body %}
<div class="content">
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There's no one in the queue. Add one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th>Added</th>
            <th>Additional info (optional)</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ task.content }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form" align="center">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <br>
            <input type="submit" value="Add to Queue" href="/ucc_desk_portal">
        </form>
    </div>
    <div class="lign">
        <h4 style="text-align: center">Number of People in Queue: {{ tasks|length }}</h4>
        <h4 style="text-align: center">Number of Counselors: {{ number_of_counselors }}</h4>
        <h4 style="text-align: center">Individual Wait Time: {{ individual_wait_time }} minutes</h4>
        {% if number_of_counselors > 0 %}
            <h4 style="text-align: center">Approximate Wait Time: {{ tasks|length * individual_wait_time / number_of_counselors |round(1) }} minutes</h4>
        {% else %}
            <h4 style="text-align: center">The UCC is closed</h4>
        {% endif %}    
    </div>
    <div class="form" align="center">
        <form action="/" method="POST">
            <input type="number" step="1"  min="0" name="num_counselors" id="num_counselors">
            <br>
            <input type="submit" value="Update Number Number of Counselors">
            <br>
            {% if number_of_counselors > 0 %}
                <p>When closing set the # of counselors to 0</p>
            {% else %}
                <p>When opening input the # of counselors</p>
            {% endif %}
        </form>
    </div>
    <div class="form" align="center">
        <form action="/" method="POST">
            <input type="number" step="1"  min="0" name="ind_wait_time" id="ind_wait_time">
            <br>
            <input type="submit" value="Update Individual Wait Time">
        </form>
    </div>
</div>
{% endblock %}